.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 80px;
  padding: 5px;
  color: white;
}

.App-body{
  padding: 15px;
  color: black;
}

.App-intro {
  font-size: large;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.btn-success:hover, .btn-success:active, .btn-success:focus {
  color: #fff !important;
  background-color: 	#989898 !important;
  border-color: 	#989898 !important;
}
